body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.hobbies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.hobby-item {
  display: flex;
  align-items: center;
  margin-bottom: 60px; /* Aumentado el espaciado */
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Reduciendo la sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregando transiciones */
}

.hobby-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Ajustando la sombra en hover */
}

.hobby-item img {
  width: 200px;
  height: 200px;
  border-radius: 15px 15px 0 0;
  transition: transform 0.3s ease; /* Agregando transición a las imágenes */
}

.hobby-item:hover img {
  transform: scale(1.1); /* Aumentando ligeramente el tamaño de las imágenes en hover */
}

.hobby-info {
  padding: 20px;
}

.hobby-title {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 10px;
}

.hobby-description {
  font-size: 1.2em;
  color: #666;
  text-align: left;
}

.gaming .hobby-item {
  background-color: #ffd700;
}

.gym .hobby-item {
  background-color: #20b2aa;
}

.sports .hobby-item {
  background-color: #ffa500;
}
