/* Presentacio.css */
.Presentacio {
    margin-top: 20px;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Presentacio h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.Presentacio p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.Presentacio img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}